.popup-viewer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #22a7f0;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.popup-viewer-open {
  display: flex;
}

.popup-close-button {
  border-radius: 50%;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(6, 13, 45, 0.05);
  color: #060d2d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.popup-close-button:hover {
  background-color: rgba(6, 13, 45, 0.15);
}

.popup-close-button:active {
  background-color: #22a7f0;
  color: white;
}

.gui-container {
  position: absolute;
  top: 0;
  left: 0;
}

.dg.a {
  position: absolute;
  top: 0;
  height: 0;
}

.dg.main {
  height: auto;
  overflow-y: scroll;
}

.stats-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.renderer-stats > div {
  background-color: #060d2d !important;
}
.renderer-stats > div > div {
  color: #22a7f0 !important;
  background-color: #060d2d !important;
}

.three-progress-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  opacity: 0;
  visibility: hidden;
  justify-content: center;
  flex-direction: column;
  transition: opacity 1s ease-in-out;
}

.three-progress-container.loading {
  visibility: visible;
  opacity: 1;
}

.three-loader {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 6rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.three-loader .three-loader-spinner {
  border: 0.3rem solid rgba(6, 13, 45, 0.1);
  border-top: 0.3rem solid rgba(6, 13, 45, 1);
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  animation: spinLoader 0.6s linear infinite;
  z-index: 1;
}

.three-progress-text {
  font-weight: 600;
  text-align: center;
}

@keyframes spinLoader {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }

  50% {
    opacity: 0.9;
  }

  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}
